task: detection

num_classes: 10 # VisDrone 类别数
remap_mscoco_category: False

train_dataloader:
  type: DataLoader
  dataset:
    type: CocoDetection
    # 指向你的训练集图片
    img_folder: ./datasets/VisDrone2019-DET-train/images
    # 指向你的 COCO 格式标注文件 (必须是 JSON)
    ann_file: ./datasets/VisDrone2019-DET-train/train.json
    return_masks: False
    transforms:
      type: Compose
      ops: ~ # 训练集的 transforms 在 w_rtdetr_visdrone.yml 里定义了，这里留空没关系
  shuffle: True
  batch_size: 4 # 根据显存调整
  num_workers: 4
  drop_last: True
  collate_fn: default_collate_fn

val_dataloader:
  type: DataLoader
  dataset:
    type: CocoDetection
    img_folder: ./datasets/VisDrone2019-DET-val/images
    ann_file: ./datasets/VisDrone2019-DET-val/val.json
    return_masks: False
    transforms:
      type: Compose
      ops:
        # [关键修复] 验证集必须有 transforms！否则加载的是 PIL Image 会报错
        - {type: Resize, size: [640, 640]} # 必须统一尺寸才能 batch
        - {type: ToImageTensor}            # 转为 Tensor
        - {type: ConvertDtype}             # 转为 Float 并归一化
  shuffle: False
  batch_size: 4
  num_workers: 4
  drop_last: False
  collate_fn: default_collate_fn